<c-row class="ps-4">
    <c-col md="12" xl="3" xs="12" >
        <c-input-group class="mb-0 mt-4" sizing="sm">
            <input aria-describedby="inputGroup-sizing-sm" aria-label="Sizing example input" cFormControl #pesquisa (keyup.enter)="filtrarPorNome(pesquisa.value)"/>
            <button cInputGroupText id="inputGroup-sizing-sm" (click)="filtrarPorNome(pesquisa.value)">Pesquisar</button>
        </c-input-group>
    </c-col>
</c-row>
<c-row class="px-4 py-4" id="colunaProdutos">
    <c-col md="12" xl="12" xs="12" sm="12" id="colunasTabelaProdutos " class="bg-light p-3" >
        <table cTable >
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Produto</th>
                    <th scope="col" class="text-nowrap">Preço de Venda</th>
                    <th scope="col" class="text-nowrap">Preço de Custo</th>
                    <!-- <th scope="col"></th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let produto of exibirProdutos" >
                    <th scope="row" class="pt-3">{{produto.id}}</th>
                    <td class="pt-3">{{produto.produto}}</td>
                    <td class="pt-3 text-nowrap"><input  type="text" value="{{produto.custo}}" style="border:none" id="inputProdutos"></td>
                    <td class="pt-3"><input type="text" value="{{produto.custo}}" style="border:none" id="inputProdutos"></td>
                    <!-- <td><button cInputGroupText>Salvar Alteração</button></td> -->
                </tr>
            </tbody>
        </table>
    </c-col>
</c-row>


<c-row class="px-4 py-4" id="colunaProdutos">
    <c-col md="12" xl="12" xs="12" sm="12" id="colunasTabelaProdutos " class="bg-light p-3" >

    </c-col>
</c-row>