a {
    background-color: #7cbdcb73;
    background-color: #b04e587a;
    background-color: #32ba4669
}
a {
    background-color: #7cbdcb;
    background-color: #b04e58;
    background-color: #32ba46
}