
#tituloProd{
/*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=e4f2ff&c2=dcfff6&gt=l&gd=dbb
*/
// background: #212631b6;

}

#pesquisarData:active {
    background-color: rgb(255, 255, 255);
    transition: all 0.3s;
  }

#pesquisarData{
    background-color: rgb(0, 0, 0);
    border-radius:0.5rem;
    border: none;
    height: 30px;
    width: 30px;
    padding: 3px;
    transition: all 0.3s
}