<c-row class="px-4 pt-3 mb-4" style="margin-top: -100px;">
  <c-col xs>
    <c-card-group>
      <c-card   [ngStyle]="{
        'display': 'flex',
        'align-items': 'start',
        'justify-content': 'space-between',
        'background-color': 'none'
      }" 
        >
        <div class="px-4 py-1 d-block">
          <p style="font-size: 15px; color: gray;" class="p-0 mb-0">data inicial</p>
          <input type="date" name="date" >
        </div>
      </c-card>
    </c-card-group>

  </c-col>
</c-row>

<!-- <p>Selected range: {{range.value | json}}</p> -->